{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="row">

      {# ЛЕВАЯ ПАНЕЛЬ #}
      <div class="col-md-6" data-ng-controller="PropertyCtrl">
        <div class="panel panel-default panel-props">
          <div class="panel-heading">
            <div class="btn-group pull-right" role="group" aria-label="prop-actions">

              {# Кнопка "Добавить" свойство #}
              <button class="btn btn-default" data-ng-click="insertFormDisplay = 1">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Добавить
              </button>

            </div>

            {# Заголовок левой панели #}
            <h4 class="panel-title">
              Свойства
            </h4>

          </div>
          <div class="panel-body">


            {# BEGIN: Форма добавления нового свойства #}
            <div class="panel panel-primary" data-ng-show="insertFormDisplay">

              <div class="panel-heading">
                <h3 class="panel-title">Введите данные для нового свойства</h3>
              </div>

              <div class="panel-body">

                <form
                  class="form-horizontal"
                  role="form"
                  data-ng-submit="insertProperty(_prop)"
                >

                  {# Поле "Код" #}
                  <div class="form-group form-group-sm">
                    <label for="prop0code" class="col-sm-2 control-label">
                        Код
                    </label>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        id="prop0code"
                        class="form-control"
                        placeholder="Код свойства"
                        data-ng-model="_prop.code"
                      />
                    </div>
                  </div>

                  {# Поле "Тип" #}
                  <div class="form-group form-group-sm">
                    <label for="prop0type" class="col-sm-2 control-label">
                        Тип
                    </label>
                    <div class="col-sm-10">
                      <select
                        multiple
                        id="prop0type"
                        class="form-control input-sm"
                        data-ng-model="_prop.type"
                        data-ng-options="type.name for type in types">
                        <option value="">Выберите тип свойства...</option>
                      </select>
                    </div>
                  </div>

                  {# Кнопки действий #}
                  <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">

                      <input
                        type="submit"
                        class="btn btn-primary btn-xs"
                        value="Добавить"
                      />

                      <input
                        type="button"
                        class="btn btn-default btn-xs"
                        ng-click="insertFormDisplay = 0"
                        value="Отмена"
                      />

                    </div>
                  </div>

                </form>
              </div>

            </div>
            {# END: Форма добавления нового свойства #}


            <div class="list-group">

              <div data-ng-repeat="prop in props" class="list-group-item">
                <div class="pull-right">

                  {# Кнопка "Изменить" свойство #}
                  <button class="btn btn-primary btn-xs" data-ng-click="editFormDisplay[prop.id] = !editFormDisplay[prop.id]" data-ng-attr-title="[[ !editFormDisplay[prop.id] ? 'Изменить' : 'Свернуть' ]]">
                    <span class="glyphicon glyphicon-cog"></span>
                  </button>

                  {# Кнопка "Удалить" свойство #}
                  <button class="btn btn-danger btn-xs" data-ng-click="deleteProperty(prop)" data-ng-attr-title="[[ 'Удалить' ]]">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>

                </div>

                <a
                  href=""
                  data-ng-click="editFormDisplay[prop.id] = !editFormDisplay[prop.id]"
                >
                  [[ prop.code ]]
                </a>
                <sup>[[ prop.id ]]</sup>


                {# BEGIN: Форма редактирования свойства #}
                <div style="margin-top: 8px" data-ng-show="editFormDisplay[prop.id]">

                    <div class="well edit-prop-form">

                      <input type="hidden" data-ng-value="prop.id"/>

                      <table class="table">

                      <tbody>

                      {# Поле "Код" #}
                      <tr>
                        <td class="edit-prop-name">Код</td>
                        <td class="edit-prop-value">

                          {#
                          <a href="#" editable-text="prop.code" onaftersave="prop.$save()">
                            [[ prop.code || 'пусто' ]]
                          </a>
                          #}

                          <input
                            type="text"
                            class="form-control input-sm"
                            placeholder="Код свойства"
                            data-ng-model="prop.code"
                            data-ng-model-options="{updateOn:'blur'}"
                          />

                        </td>
                      </tr>

                      {# Поле "Тип" #}
                      <tr>
                        <td class="edit-prop-name">Тип</td>
                        <td class="edit-prop-value">

                          <select
                            multiple
                            class="form-control input-sm"
                            data-ng-model="prop.type"
                            data-ng-options="type.name for type in types track by type.id">
                            <option value="">Выберите тип свойства...</option>
                          </select>

                        </td>
                      </tr>

                      </tbody>

                      <tfoot>
                        <tr>
                          <td>&nbsp;</td>
                          <td>
                            <label class="btn btn-primary btn-xs" data-ng-click="prop.$save().then()" title="Сохранить">
                              Сохранить
                            </label>
                            <label class="btn btn-default btn-xs" data-ng-click="editFormDisplay[prop.id] = !editFormDisplay[prop.id]" title="Отмена">
                              Закрыть
                            </label>
                          </td>
                        </tr>
                      </tfoot>

                      </table>

                    </div>

                </div>
                {# END: Форма редактирования свойства #}


              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="btn-group pull-right" role="group" aria-label="prop-actions">
              <a class="btn btn-default" role="button" href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@twbootstrap">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Добавить
              </a>
            </div>
            <h4 class="panel-title">
              Элементы
            </h4>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}