<!DOCTYPE html>
<html data-ng-app="webapp">
	<head>
		<link rel="stylesheet" href="{{ static_url }}/dist/css/stylesheet.min.css" />
		<title>{{ title }}</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">BoxPro</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
					<ul class="nav navbar-nav pull-right">
						<li><a href="#">Выход</a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Управление</a></li>
					</ul>
				</div>

			</div>
		</nav>

		<div class="container">
			{% block content %}{% endblock %}
			<footer class="footer">
				<p>&copy; Григорий Фурлетов 2014</p>
			</footer>
		</div>

		<script src="{{ static_url }}/dist/js/javascript.js"></script>
	</body>
</html>
