BODY
    padding-top 70px

.panel-heading .btn-group.pull-right
    position relative
    top -8px
    right -13px

.panel-props .panel-body
    .panel-group .panel+.panel
        margin-top 1px
    .panel-group .panel
        border-radius 3px
    .form-group
        &:last-child
            margin-bottom 0
    .table
        &:last-child
            margin-bottom 0
    .well.edit-prop-form
        &:last-child
            margin-bottom 0
    A.accordion-toggle
        display block

    .table
        &>tbody
        &>tfoot
            tr>td
                padding 2px
                border-top none

                &.edit-prop-name
                &.edit-prop-value
                    vertical-align middle

.btn-slideup
    position absolute
    top -14px
    right 1px

.footer
    padding-right 15px
    padding-left 15px
    padding-top 19px
    color #777
    border-top 1px solid #e5e5e5



.item-wrapper
    display inline
    position relative

    A
        display inline !important

    FORM
        position absolute
        top -53px
        background #FFF
        border 1px solid #AAA
        border-radius 5px
        padding 7px
        width 220px
        display inline-block
        left 50%
        margin-left -110px
        z-index 101

        &:before
            content ''
            width 0
            height 0
            border-left 10px solid transparent
            border-right 10px solid transparent
            border-top 10px solid #AAA
            position absolute
            bottom -10px
            left 100px
        &:after

            content ''
            width 0
            height 0
            border-left 9px solid transparent
            border-right 9px solid transparent
            border-top 9px solid #FFF
            position absolute
            bottom -9px
            left 101px

.editable-input
    width 114px !important

SELECT.editable-input
    width 114px
